.content-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    background-color: #fff;
    width: 85%;
    height: 85vh;
    border-radius: 14px;
  }
}
