#pauta-list {
  height: 80vh;
}

#pauta-list-content {
  background-color: #fff;
  border-radius: 14px;
}

#list-container {
  height: 78vh;
  overflow: auto;
}

.items-on-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #cacaca;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9;
}
