<div id="pauta-form">
  <app-card
    title="Crie a pauta no formário abaixo"
    [showButtons]="true"
    secondaryButtonLabel="Voltar"
    (secondaryButtonAction)="backToList()"
    primaryButtonLabel="Salvar"
    (primaryButtonAction)="createPauta()"
  >
    <div id="pauta-form-content">
      <form class="example-form" [formGroup]="form">
        <mat-form-field class="example-full-width">
          <mat-label>Título</mat-label>
          <input
            matInput
            placeholder="Título da pauta"
            formControlName="title"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Descrição</mat-label>
          <input
            matInput
            placeholder="Descrição da pauta"
            formControlName="description"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Categoria</mat-label>
          <input
            matInput
            placeholder="Categoria da pauta"
            formControlName="category"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Data final</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="endDate" />
          <mat-hint>MM/DD/YYYY - Data final da sessão de votação</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </form></div
  ></app-card>
</div>
