#pauta-form {
  margin: auto;
  width: 60%;
  height: 60vh;

  #pauta-form-content {
    background-color: #fff;
    display: flex;
    border-radius: 16px;
    padding: 2rem 2rem 0 2rem;

    form {
      width: 100%;

      mat-form-field {
        width: 100%;
      }
    }
  }
}
