<div id="user-login">
  <app-card
    title="Insira seu CPF para votar"
    [showButtons]="true"
    secondaryButtonLabel="Voltar"
    (secondaryButtonAction)="backToList()"
    primaryButtonLabel="Salvar"
    (primaryButtonAction)="sendToVote()"
  >
    <div id="user-login-content">
      <form [formGroup]="userForm">
        <mat-form-field class="example-full-width">
          <mat-label>CPF</mat-label>
          <input
            matInput
            placeholder="CPF do usuário para votar"
            formControlName="cpf"
          />
        </mat-form-field>
      </form></div
  ></app-card>
</div>
