#pauta-list-table {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 0 1rem;
  color: #595959;

  #header {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 16px;
    padding: 0 2rem;

    .title {
      width: 40%;
    }

    .category {
      width: 30%;
    }

    .createdAt {
      width: 15%;
    }

    .button {
      width: 15%;
    }
  }

  #content {
    display: flex;
    flex-direction: column;

    #pauta-item {
      display: flex;
      flex-direction: row;
      background-color: #f5f5f5;
      align-items: center;
      padding: 1rem 2rem;
      margin-top: 0.5rem;
      border-radius: 8px;
      font-size: 12px;
      cursor: pointer;

      .title {
        width: 40%;
      }

      .category {
        width: 30%;
      }

      .createdAt {
        width: 15%;
      }

      .button {
        width: 15%;

        button {
          float: right;
        }
      }

      &:hover {
        transition: 200ms;
        background-color: #ececec;
      }
    }
  }
}
