<div id="pauta-list-table">
  <div id="header">
    <div class="title">Título</div>
    <div class="category">Categoria</div>
    <div class="createdAt">Data de criação</div>
    <div class="button"></div>
  </div>

  <div id="content">
    @for (pauta of pautas; track pauta.id) {
    <div id="pauta-item">
      <div class="title">{{ pauta.title }}</div>
      <div class="category">{{ pauta.category }}</div>
      <div class="createdAt">{{ pauta.createdAt | date : 'dd/MM/yyyy' }}</div>
      <div class="button">
        <button mat-button [matMenuTriggerFor]="menu" color="primary">
          Ações
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="clickVote.emit(pauta)">Votar</button>
          <button mat-menu-item (click)="clickItem.emit(pauta)">
            Ver detalhes
          </button>
        </mat-menu>
      </div>
    </div>
    }
  </div>
</div>
